# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Oulu_proj\social_media_network_analysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
